.App {
    background-color: pink;
    min-height: 100vh;
  }
  

  .Main {
    padding-top: 95px;
  }


  * {
    box-sizing: border-box;
  }
  
  a {
    color:black;
    transition: color ease-in-out 0.4s;
    font-size: 25px;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:hover i {
    color: pink;
    transition: color ease-in-out 0.3s;
  }
  
  i {
    color: white;
    font-size: 1.3rem;
    padding: 6px;
    vertical-align: middle;
  }
  
  
  .FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }